[flake8]
#exclude files from linting(Linting is the process of running a program that will analyse code for potential errors)
exclude =
    migrations,
    __pycache__,
    manage.py,
    settings.py
